<h3><%= @station.name %>设备汇总：</h3>
<hr>
<% @equipment_categories.each do |e| %>
  <div class="equipment-detail">
    <strong id= "equipmnet-detail-<%= e.id%>"> <%= e.name %>明细 </strong>
    
  </div>
<% end %>
