
<h3><%= @station.name %>设备汇总：</h3>
<hr>
<% @equipment_categories.each do |e| %>
  <div class="equipment-detail">
    <% case e.name %>
    <% when "变压器" %>
      <%= render :partial => "transformer_info", locals:{equipment_category: e} %>
    <% when "断路器" %>
      <% %>
    <% end %>

  </div>
<% end %>
