<p><%= link_to("返回", stations_path)%></p>
<h3><%= @station.name %></h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>设备列表</th>
    </tr>
  </thead>
  <tbody>
    <% @equipment_categories.each do |equipment_category| %>
    <tr>
      <% if equipment_category.name == "变压器" %>
        <td><%= link_to(equipment_category.name, equipment_category_transformers_path(equipment_category,station_id: @station.id)) %></td>
        <td>
          <%= link_to("添加", new_equipment_category_transformer_path(equipment_category_id: equipment_category.id, station_id: @station.id))%>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
