/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.application-frame{
  min-height: 100%;
  margin-top: -90px;
  padding-top: 90px;
  padding-bottom: 110px;
  margin-bottom: -80px;
  overflow:auto;
}
footer {
  height:100px;
  line-height: 80px;
  background-color: #D0C671;
  text-align: center;

}

.side-bar{
  position:fixed;
  width: 120px;
  min-height:500px;
  background-color: rgba(97,97,97 ,0.3);
  top: 70px;
  left:50px;
  .side-bar-categoy{
    a{
      display: block;
      font-size: 11px;
      color:#0B1306;
    }
  }
  .side-bar-option{
    a{
      display: block;
      font-size: 11px;
      color:#0B1306;
    }
  }
}
