// Place all the styles related to the equipment_resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.equipment_resume_frame{
  width: 100%;
  div{
    width:100%;
    height:40px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(158,158,158 ,0.5);
    text-align: center;

    p{
      line-height: 40px;
      word-spacing: 30px;
      font-size: 20px;
    }
    div{
      float:left;
      width:16.666%;
      height:40px;
      border:0 1px 0 0 solid black;
      line-height: 40px;
      b{
        font-size: 15px;
      }
    }
  }
}
