// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.equipment-detail{
  margin-bottom: 100px;
}

.equipment-info {
  th{
    font-size: 10px;
  }
  td{
    font-size: 8px;
  }
}
