// Place all the styles related to the transformers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transformer_resume_frame {

  overflow:auto;
  border-top:1px solid black;
  border-right:1px solid black;
  margin-bottom: 30px;
  .first-part-1{
    width:100%;
    border-bottom:1px solid black;
    border-left:1px solid black;
    text-align: center;
    height:30px;
    line-height: 30px;
  }
  .first-part{
    width:100%;
    text-align: center;
    div{
      text-align: center;
      width:16.66%;
      height:20px;
      float:left;
      border-bottom:1px solid black;
      border-left:1px solid black;
    }
  }

  .second-part{
    width:100%;
    div{
      float:left;
      border-bottom:1px solid black;
      border-left:1px solid black;
      text-align: center;
      width:25%;
    }
  }
  .third-part{
    width:100%;
    div{
      border-bottom:1px solid black;
      border-left:1px solid black;
      float:left;
      width:12.5%;
      height:20px;
      text-align: center;


    }
    .third-part-1{
      float:left;
      width:25%;
      height:20px;
      border-bottom:1px solid black;
      border-left:1px solid black;
    }
    .third-part-2{
      float:right;
      width:25%;
      height:70px;
      border-bottom:1px solid black;
      border-left:1px solid black;
    }
    .third-part-3 {
      height:30px;
      width:75%;
      div:last-of-type{
        height:30px;
        line-height: 30px;
        border-bottom:1px solid black;
        width: 83.33%;
      }
      div:first-of-type {
        height:30px;
        line-height: 30px;
        border-bottom:1px solid black;
        width:16.67%;
      }
    }
  }
}

.transformer-running-record{
  border-right:1px solid black;
  border-top:1px solid black;
  width:100%;
  overflow:auto;
  text-align: center;
  margin-bottom:30px;
  div:first-of-type {
    width: 100%;
    height:30px;
    line-height: 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .part-1{
    width:100%;
    height:40px;
    .part-1-0 {
      width:13%;
      height:40px;
      line-height: 40px;
      float:left;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
    }
    .part-1-1 {
      width: 26%;
      float:left;
      height:40px;
      line-height: 40px;
      .part-1-1-1{
        width: 100%;
        float: left;
        height:20px;
        line-height: 20px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
      .part-1-1-2{
        width: 50%;
        float: left;
        height:20px;
        line-height: 20px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
      }
    }
    .part-1-2{
      width:22%;
      float:right;
      height:40px;
      line-height: 40px;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
    }
  }

  .part-2{
    width: 100%;
    display:table;
    div{
      width:13%;
      display:table-cell;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      height:auto;
    }
    div:last-of-type {
      width: 22%;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      height:20px;
      display:table-cell;
      height:auto;
    }
  }

}


.quanlity_authanticate_record{
  border-top: 1px solid black;
  border-right: 1px solid black;
  width:100%;
  overflow: auto;
  text-align: center;
  .part-0 {
    width: 100%;
    height:30px;
    line-height: 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .part-1{
    width:100%;
    display:table;
    div{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display:table-cell;
    width:13%;
    height:auto;

    }

    .part-1-1 {
      width:74%;
      display:table-cell;
      height:auto;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
     }
  }
}
