<table class= "table">
  <thead>
    <tr>
      <th>设备名称</th>
      <th colspan="2">管理</th>
    </tr>
  </thead>
  <tbody>
    <% @equipment_categories.each do |e|%>
    <tr>
      <td><%= e.name %></td>
      <td><%= link_to("编辑", edit_equipment_category_path(e))%></td>
      <td><%= link_to("删除", edit_equipment_category_path(e))%></td>
    </tr>
    <% end %>
  </tbody>
</table>
